=breadcrumb_tag do
  %li.active
    = t('headers.clients.edit')
  %li
    = link_to(@client.id, @client)
  %li
    = link_to 'Клиенты', clients_path
  %li
    Клиенты

  %h1= t('headers.clients.edit')

= render 'form'
