.form-group
  = pf.label :name
  = pf.text_field :name
.form-group
  = pf.label :phone
  = pf.text_field :phone
.form-group
  = pf.label :address
  = pf.text_field :address
.form-group
  = pf.label :email
  = pf.text_field :email
.field
  = pf.hidden_field :id
