= form_for @order do |f|
  = error_messages_for @order

  %h3= "Выберите или создайте нового клиента"
  .row
    .col-md-6
      .form-group
        = f.label :client_id, 'Клиент'
        = f.select :client_id, options_for_select(Client.all.map{|x| [x.name, x.id]} + (@order.new_record? ? ["- Создание нового -"] : ["- Создание нового -", "- Редактирование -"]), f.object.client_id.nil? ? "- Создание нового -" : f.object.client_id), {include_blank: true}

  = f.fields_for :client, f.object.client || f.object.build_client do |pf|
    %fieldset#client-fieldset{"data-content" => "#{render "client_form", pf: pf}"}
      %div#client-fields

  .row
    .col-md-6
      .form-group
        = f.label :order_number
        = f.label number_of_order, class: 'form-control'
        = f.error_messages_for(:order_number)
  .row
    .col-md-6
      .form-group
        = f.label :order_date
        = f.label date_of_order
        = f.error_messages_for(:order_date)
  .row
    .col-md-6
      .form-group
        = f.label :payment_method
        = f.select :payment_method, ['Наличный расчет','Безналичный расчёт']
        = f.error_messages_for(:payment_method)
  .row
    .col-md-6
      .form-group
        = f.label :delivery_method
        = f.select :delivery_method, ['Самовывоз = бесплатно', 'Курьерская доставка = 200 рублей','Почта России = 100 рублей'] , class: 'form-control'
        = f.error_messages_for(:delivery_method)
  .row
    .row.bottom20
      .col-md-12
        = link_to_add_good(f, f.object)
    - i = 0
    = f.fields_for(:good_orders) do |lf|
      = lf.hidden_field(:id)
      = render('orders/one_good_order_form', lf: lf, i: i + 1)
      -#
      .row
        .col-md-6
          .form-group
            = f.label :list_products
            = f.text_area :list_products, class: 'form-control'
            = f.error_messages_for(:list_products)
      .row
        .col-md-6
          .form-group
            = f.label :cost_goods
            = f.text_field :cost_goods, class: 'form-control'
            = f.error_messages_for(:cost_goods)
      .row
        .col-md-6
          .form-group
            = f.label :total_cost
            = f.text_field :total_cost, class: 'form-control'
            = f.error_messages_for(:total_cost)
  .row
    .form-actions
      = f.submit 'Сохранить', class: 'btn btn-success', id: 'save'
      %br
