.page-header
  %h1 Параметры поиска

= form_tag search_orders_path(), method: :get do

  .col-md-6
    .panel.panel-wave
      .panel-heading
        Товар
      .panel-body
        .row
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:article))
              = select_tag "search_good_article", options_for_select(Good.all.map{|p| p.article}, ), include_blank: true, class: 'form-control', value: params["search_good_article"].nil? ? nil : params["search_good_article"]
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:title))
              = select_tag "search_good_title", options_for_select(Good.all.map{|p| p.title}, ), include_blank: true, class: 'form-control', value: params["search_good_title"].nil? ? nil : params["search_good_title"]
        .row
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:short_description))
              = text_field_tag "search_good_short_description", nil, class: 'form-control', value: params["search_good_short_description"].nil? ? nil : params["search_good_short_description"]
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:full_description))
              = text_field_tag "search_good_full_description", nil, class: 'form-control', value: params["search_good_full_description"].nil? ? nil : params["search_good_full_description"]
        .row
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:base_price))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_good_base_price0", nil, class: 'form-control', value: params["search_good_base_price0"].nil? ? nil : params["search_good_base_price0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_good_base_price1", nil, class: 'form-control', value: params["search_good_base_price1"].nil? ? nil : params["search_good_base_price1"]
        .row
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:current_price))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_good_current_price0", nil, class: 'form-control', value: params["search_good_current_price0"].nil? ? nil : params["search_good_current_price0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_good_current_price1", nil, class: 'form-control', value: params["search_good_current_price1"].nil? ? nil : params["search_good_current_price1"]
        .row
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:quantity_in_stock))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_good_quantity_in_stock0", nil, class: 'form-control', value: params["search_good_quantity_in_stock0"].nil? ? nil : params["search_good_quantity_in_stock0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_good_quantity_in_stock1", nil, class: 'form-control', value: params["search_good_quantity_in_stock1"].nil? ? nil : params["search_good_quantity_in_stock1"]
        .row
          .col-md-6
            .form-group
              = label_tag(Good.human_attribute_name(:minimum_quantity))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_good_minimum_quantity0", nil, class: 'form-control', value: params["search_good_minimum_quantity0"].nil? ? nil : params["search_good_minimum_quantity0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_good_minimum_quantity1", nil, class: 'form-control', value: params["search_good_minimum_quantity1"].nil? ? nil : params["search_good_minimum_quantity1"]
        .row
          .col-md-6
            .form-group
              = label_tag(GoodOrder.human_attribute_name(:digit) + " в заказе")
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_good_order_digit0", nil, class: 'form-control', value: params["search_good_order_digit0"].nil? ? nil : params["search_good_order_digit0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_good_order_digit1", nil, class: 'form-control', value: params["search_good_order_digit1"].nil? ? nil : params["search_good_order_digit1"]
  .col-md-6
    .panel.panel-wave
      .panel-heading
        Клиент
      .panel-body
        .row
          .col-md-6
            .form-group
              = label_tag(Client.human_attribute_name(:name))
              = text_field_tag "search_client_name", nil, class: 'form-control', value: params["search_client_name"].nil? ? nil : params["search_client_name"]
          .col-md-6
            .form-group
              = label_tag(Client.human_attribute_name(:phone))
              = text_field_tag "search_client_phone", nil, class: 'form-control', value: params["search_client_phone"].nil? ? nil : params["search_client_phone"]
        .row
          .col-md-6
            .form-group
              = label_tag(Client.human_attribute_name(:address))
              = text_field_tag "search_client_address", nil, class: 'form-control', value: params["search_client_address"].nil? ? nil : params["search_client_address"]
          .col-md-6
            .form-group
              = label_tag(Client.human_attribute_name(:email))
              = text_field_tag "search_client_email", nil, class: 'form-control', value: params["search_client_email"].nil? ? nil : params["search_client_email"]
  .col-md-6
    .panel.panel-wave
      .panel-heading
        Заказ
      .panel-body
        .row
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:order_number))
              = text_field_tag "search_order_number", nil, class: 'form-control', value: params["search_order_number"].nil? ? "" : params["search_order_number"]
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:list_products))

              = text_field_tag "search_order_good_order_goods", nil, class: 'form-control', value: params["search_order_good_order_goods"].nil? ? "" : params["search_order_good_order_goods"]
        .row
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:order_date))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              .input-group.date.datepicker
                = text_field_tag "search_order_date0", nil, class: 'form-control', value: params["search_order_date0"].nil? ? "" : params["search_order_date0"]
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
          .col-md-6
            .form-group
              = label_tag("По")
              .input-group.date.datepicker
                = text_field_tag "search_order_date1", nil, class: 'form-control', value: params["search_order_date1"].nil? ? "" : params["search_order_date1"]
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
        .row
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:payment_method))
              = select_tag "search_order_payment_method", options_for_select(['Наличный расчет','Безналичный расчёт'], ), include_blank: true, class: 'form-control'
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:delivery_method))
              = select_tag "search_order_delivery_method", options_for_select(['Самовывоз = бесплатно', 'Курьером = 200 рублей','Почта России = 100 рублей'], ), include_blank: true, class: 'form-control'
        .row
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:cost_goods))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_order_cost_goods0", nil, class: 'form-control', value: params["search_order_cost_goods0"].nil? ? "" : params["search_order_cost_goods0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_order_cost_goods1", nil, class: 'form-control', value: params["search_order_cost_goods1"].nil? ? "" : params["search_order_cost_goods1"]
        .row
          .col-md-6
            .form-group
              = label_tag(Order.human_attribute_name(:total_cost))
        .row
          .col-md-6
            .form-group
              = label_tag("С")
              = text_field_tag "search_order_total_cost0", nil, class: 'form-control', value: params["search_order_total_cost0"].nil? ? "" : params["search_order_total_cost0"]
          .col-md-6
            .form-group
              = label_tag("По")
              = text_field_tag "search_order_total_cost1", nil, class: 'form-control', value: params["search_order_total_cost1"].nil? ? "" : params["search_order_total_cost1"]



  = submit_tag "Искать", class: 'btn btn-primary'

.page-header
  %h1 Результат поиска

.well.mysearch
  .row
    .form-group
    %dl
    - @result.each do |order|
      .col-md-6
        .well
          %dt= Order.human_attribute_name(:order_number)
          %dd= order.order_number
          %dt= Order.human_attribute_name(:order_date)
          %dd= order.order_date
          %dt= Client.human_attribute_name(:name)
          %dd= order.client.name
          %dt= Order.human_attribute_name(:total_cost)
          %dd= order.total_cost
          = link_to order, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
